body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #CD7AA3 !important;
    
}
.container {
   width: 40%;
   min-width: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
#otsikko1 {
    text-align: center;
    color: #0B1D51;
    margin-bottom: 20px;
    font-size: 5rem;
}
.todo-form {
    margin: 40px 0px;
    background: #7D387D;
    padding: 25px 30px;
    border-radius: 10px;
    border: solid 3px;
}
.add-button {
    background: deeppink;
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 8px 13px;
    font-size: 1.2rem;
}
.todo-items {
    list-style: none;
    min-width: 350px;
    color: black;
    align-items: center;
    padding-left: 0px;

}
.todo-input {
    width: 250px;
    outline: none;
    border-radius: 8px;
    padding: 12px;
    border: 2px solid;
    margin-right: 10px;

}
.todo-input:focus {
    outline: none;
    border-color:deeppink;
}

.todo-item {
    background: #99D17B;
    padding: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: solid 1px;
}

ul {
    list-style-type: none;
}


.delete-button {
    float: right;
    background: #7D387D;
    color: black;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 3px 8px;
    line-height: 20px;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 550;
}

.done {
    text-decoration: line-through;
}

input[type="checkbox"] {
    display: none;
  }



.tick {
    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 20px;
    
    /*
    tässä oli tämmönen, mut just tän kans meni asetukset iha väärin
        display: flex;
*/
}
.tick::before {
    content: '✓';
    font-size: 20px;
    display: none;
}
  
.done .tick::before {
    display: inline;
}

span {
  margin-left: 10px;
  font-family: 'Calibri'; 
  font-size: 18px;
}
/*
NÄMÄ KARSIN YLLÄ OLEVASTA NYT TURHANA 26.10.
.task-list {
    padding: 20px;
    background: plum;
    border-radius: 10px;
}
*/